* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display {
  color: black(125, 52, 52);
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}



.background {
   background-color: rgb(252, 181, 59);
    height: 100vh;
    padding-top: 1px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: all ease 0.5s;
}

.title {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}





.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 10px solid teal;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: red;
}

.playerO {
    color: green;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}


#reset {
    background-color: #FF3860;
}


.Names {
     float:right; 
     overflow:hidden; 
     padding-right:200px;

}

